body, h1, p, button {
    margin: 0;
    padding: 0;
   
  }
  .prod-container {
    display: flex;
    justify-content: center;
   
    height: 500px; 
  }
  
  .product-detail {
    max-width: 600px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
  }
  
  
  .product-image {
    text-align: center;
    margin-bottom: 20px;
    mix-blend-mode: multiply;
  }
  
  
  .product-image img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .product-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  
  .product-description {
    font-size: 16px;
    color: #444;
    margin-bottom: 20px;
  }
  
  
  .product-price {
    font-size: 24px;
    color: black;
    margin-bottom: 15px;
  }
  
  .similar-prod-container{
    margin-top: 30px;
  }
  .detail-add-to-cart-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(231, 101, 123);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: background-color 0.3s ease;
  }
  
  .detail-add-to-cart-btn:hover {
    background-color: #0077FF;
  }
  .prod-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.heading{
  
  font-weight: bold;
}

  
@media (max-width: 768px) {
  .product-main-container{
    display: flex;
    flex-direction: column;
  }
  .product-detail {
    height: 600px;
    margin-bottom: 30px;
  }
  .similar-prod-container{
    margin-top: 150px;
  }
}