*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
 }
body{
  font-family: montserrat;
  
}
nav{
  background: rgb(231, 101, 123);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container img{
  width: 80px;
  mix-blend-mode: multiply;
}
label.logo{
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.nav-link{
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}

/* Responsive Media Queries */
@media screen and (max-width: 768px) {
  nav{
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
  }
}






